@import "tailwindcss";

@theme {
  --color-background: #fff8f7;
  --color-darkText: #3d2f31;
  --color-primary: #faacb8;
  --color-secondary: #ffd9de;
  --color-onSecondary: #684a4e;
  --color-tertiary: #765377;
  --color-onTertiary: #fff7fa;
  --color-tertiaryContainer: #f8ccf6;
  --color-onTertiaryContainer: #624163;
}
body {
  color: var(--color-darkText);
}
::selection {
  background-color: var(--color-tertiary);
  color: var(--color-onTertiary);
}

.heading {
  font-family: "Neuton", "Arial";
}
