@import "tailwindcss";
@theme {
  /* Surfaces */
  --color-background: #fff8fb;
  --color-surfaceContainer: #ffffff;

  /* Text */
  --color-darkText: #33262e;

  /* Primary */
  --color-realPrimary: #d81b60;
  --color-onRealPrimary: #ffffff;

  /* Primary Container */
  --color-primary: #ffd8e8;
  --color-onPrimary: #7c1844;

  /* Secondary */
  --color-realSecondary: #8b5a70;
  --color-onRealSecondary: #ffffff;

  /* Secondary Container */
  --color-secondary: #f8eaf0;
  --color-onSecondary: #654454;

  /* Lavender Accent */
  --color-tertiary: #9b6df5;
  --color-onTertiary: #ffffff;

  --color-tertiaryContainer: #efe6ff;
  --color-onTertiaryContainer: #5b34a3;

  /* Borders */
  --color-outline: #e2d6dd;

  /* Error */
  --color-error: #dc2626;
  --color-onError: #ffffff;

  /* Custom Fonts */
  --font-inter: "Inter", sans-serif;
  --font-manrope: "Manrope", serif;
}
/*
 *@theme {
  --color-surfaceContainer: #fde9eb;
  --color-background: #fff8f7;
  --color-darkText: #3d2f31;
  --color-realPrimary: #8a4d58;
  --color-onRealPrimary: #fff7f7;
  --color-primary: #faacb8;
  --color-onPrimary: #612b36;
  --color-realSecondary: #76575b;
  --color-onRealSecondary: #fff7f7;
  --color-secondary: #ffd9de;
  --color-onSecondary: #684a4e;
  --color-tertiary: #765377;
  --color-onTertiary: #fff7fa;
  --color-tertiaryContainer: #f8ccf6;
  --color-onTertiaryContainer: #624163;
  --color-outline: #897678;
  --color-error: #a83836;
  --color-onError: #fff7f6;
}
*/
body {
  color: var(--color-darkText);
  padding-bottom: 48px;
}
::selection {
  background-color: var(--color-tertiary);
  color: var(--color-onTertiary);
}

.invoiceForm input,
.invoiceForm select {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 0px;
  border-bottom: solid 1px var(--color-onTertiaryContainer);
  color: var(--color-onTertiaryContainer);
  outline: none !important;
}
.heading {
  font-family: "Neuton", "Arial";
}
